<div id="comments">
    {{#each comments}}
        <div class="comment" id="{{this._id}}">
            <div class="comment__header"><span>Posted: {{this.posted}}</span></div>
            <div class="comment__text">{{this.text}}</div>
        </div>
    {{/each}}
</div>