<div id="favouriteMovies">
    <h2>Favourite movies</h2>

    <button id="addMovieToFavourites" class="favouriteControls">Додати цей фільм до улюблених?</button>
    <button id="removeCurrentFavouriteMovie" class="favouriteControls">Видалити поточний фільм з улюблених?</button>
    <button id="removeAllFavouriteMovies" class="favouriteControls">Видалити всі улюблені фільми?</button>

    <div id="listFavouriteMovies"></div>
</div>