<div id="wrapSlider">
    <div id="bestFilm">

        <div id="titleBestFilms">
            <h1>Кращі фільми з Кінотеатрів</h1>
        </div>

        <div class="slider js_slider">
            <div class="frame js_frame">
                <ul class="slides js_slides">
                    {{#each moviesSlider}}
                        <li class="js_slide" id={{this._id}}>
                            <img src=/movie/static/images/{{sourceImg}} alt={{this.nameEn}}>
                            <div class="nameFilmsSlider"><p>{{this.nameUa}}</p></div>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <span class="js_prev">
                <img src="/static/images/arrowL.png" alt="arrow">
            </span>
            <span class="js_next">
                <img src="/static/images/arrowR.png" alt="arrow">
            </span>
            <ul class="slider_navigation_dots"></ul>
        </div>

    </div>
</div>