<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activate User Page</title>
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <style>
        #mainTitle {
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1 id="mainTitle">Please check your email and verify account</h1>
</body>
</html>